<section class="grid h-screen place-items-center">
<div class="card w-96 text-primary-content" data-theme="dark">
<form action="/update" method="post" class="p-16 grid gap-5">  
        <input type="hidden" name="emp_id" value="<%= payscale.emp_id %>">

    <div>
        <label for="sdays">Sick Days</label>
        <input type="number" name="sdays" value="<%= payscale.sick_days %>" class="input input-bordered input-primary w-full max-w-xs">
    </div>
    <div>
        <label for="hwork">Hours Worked</label>
        <input type="number" name="hwork" value="<%= payscale.hrs_worked %>" class="input input-bordered input-primary w-full max-w-xs">
    </div>
    <!-- <div>
        <label for="pay">Week Pay</label>
        <input type="text" name="pay" class="input input-bordered input-primary w-full max-w-xs">
    </div> -->
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</section>