<section class="grid h-screen place-items-center">
    <div class="card w-96 text-primary-content" data-theme="dark">
        <div class="card-title px-7 pt-4">
            Employee Login
        </div>
        <form action="/login" method="post" class="p-8 grid gap-5">
            <div>
            <label for="fname">Username</label>
            <input type="text" name="uname" class="input input-bordered input-primary w-full max-w-xs">
            </div>
            <div>
                <label for="password">Password</label>
            <input type="text" name="password" class="input input-bordered input-primary w-full max-w-xs">
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/empreg"><button class="btn btn-neutral btn-block">No account? Resgister here</button></a>

</section>