<div class="h-screen grid place-items-center">
	<div class="bg-base-100">	
	<h1 class="text-5xl text-center mb-8">I am a/an:</h1>
	<a href="/emplog"><button class="btn btn-active btn-block mb-4">Employee
	</button></a>
	<a href="/employees">
		<button class="btn btn-active btn-primary btn-block mb-4">Account Staff </button>
	</a>
	<button class="btn btn-active btn-accent btn-block mb-4">Supervisor</button>
</div>
<div>

</div>
</div>
